/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}
ul{margin: 0; padding: 0; list-style: none;}
button,input,textarea,select{
  font-family: 'Montserrat' , sans-serif;
  outline: none;
}
body{
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat' , sans-serif;
  /* font-family: 'Noto Sans KR' , sans-serif; */
  line-height: 1.5em;
}
.container{
  height: 100%;
}
/* common CSS */
.inner{
  border: 1px solid blue;
  width: 1300px;
}
/* header */
header{
  border: 1px solid black;
}
.banner{
  border: 1px solid blue;
  background-color: black;
}
.lnb{
  width: 1300px;
  border: 1px solid plum;
}
.lnb a{
  color: #ddd;
}
.lan a em{}

nav{
  width: 1300px;
  border: 1px solid red;
  background-color: lightgrey;
}
.logo{}
.logo img{}
.gnb{}
.gnb ul{}
.gnb ul li{}
.gnb ul li a{}

/* intro */

/* about */
/* ranking */
/* testimonial */
/* callaction */
/* festival */
/* footer */