/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}
input,textarea,select{
  outline: none;
}

body{
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat' , sans-serif;
  /* font-family: 'Noto Sans KR' , sans-serif; */
}
button,input,textarea,select{
  /* font-family: 'Noto Sans KR' , sans-serif; */
  font-family: 'Montserrat' , sans-serif;
}