/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-weight: normal;}
button{ cursor: pointer; outline: none; border: none;}
input,textarea,select{
  outline: none;
}

body{
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat' , sans-serif;
  /* font-family: 'Noto Sans KR' , sans-serif; */
}
button,input,textarea,select{
  /* font-family: 'Noto Sans KR' , sans-serif; */
  font-family: 'Montserrat' , sans-serif;
}
section{
  /* border: 2px solid black; */
  width: 950px;
  /* height: 600px; */
  margin: auto;
}
.section-header{}
.gnb{
  padding: 30px 0;
  text-align: right;
}
.gnb a{
  margin: 15px;
  position: relative;
  padding-bottom: 8px;
}
.gnb a:last-child{
  margin-right: 0;
}
/* content:'' , position */
.gnb a:after{
  content: '';
  position: absolute;
  bottom: 0;
  /* left: 0; */
  left: 50%;
  width: 0;
  /* width: 100%; */
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
  transition: 0.3s;
}
.gnb a:hover:after{
  width: 100%;
}
.search-box{
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
}
.search-box input{
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  background: url(images/search.png) no-repeat center right;
  /* 이미지를 포토샵으로 줄일 필요없이 size 로 값 줄수 있다  */
  background-size: 22px;
  width: 300px;
  font-size: 18px;
  box-sizing: border-box;
}
.search-box button{
  background-color: crimson;
  color: #fff;
  border-radius: 6px;
  /* width: 200px; */
  /* height: 300px; */

  padding: 13px 60px;
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);

}

/* items */
.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.item{
  width: 310px;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.item img{
  width: 100%;
}

/* description */
.desc{
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  height: 60px;
  width: 100%;
  left:0;
  /* bottom: 5px; */
  bottom: -60px;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;

  transition: 0.3s;

}
.item:hover .desc{
  bottom: 0px;
}

.desc h6{
  font-size: 16px;
  margin-bottom: 5px;
}
.desc .like{
  display: flex;
  justify-content: space-between;
}
.like span{
  font-size: 13px;
}
.like span:nth-child(1) .fa{
  color: crimson;
}


@media (min-width: 768px) and (max-width:1024px) {
  section{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .item{
    width: 49%;
    margin-right: 2px;
  }
}


@media (max-width: 767px) {
  section{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .gnb{
    text-align: center;
  }
  .search-box{
    flex-direction: column;
  }
  .search-box input{
    width: 100%;
    margin-bottom: 30px;
  }
  .item{
    width: 100%;
    height: auto;
  }
  .item:hover .desc{
    bottom: 5px;
  }


}