* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {

  background-color: lightpink;
  flex-wrap: wrap;
  margin: 50px 0px;
  border-radius: 20px;
  width: 40%;
  box-shadow: 5px 5px 8px 1px #7B8ED1;
}

/* .item_row[data-id='1']{

} */

.header {
  width: 100%;
  height: 48px;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(122, 2, 185, 1) 100%,
      rgba(253, 187, 45, 1) 100%);

  border-radius: 20px 20px 0 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  font-size: 30px;

}

.items {
  width: 100%;
  height: 500px;
  /* 아이템이 많아지면 자동으로 스크롤바 생김 */
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.item_delete {
  transition: all 0.2ms ease-in;
}

.item_delete:hover {
  color: red;
  transform: scale(1.2);
}

.footer {
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(122, 2, 185, 1) 100%,
      rgba(253, 187, 45, 1) 100%);

  border-radius: 0 0 20px 20px;
  color: white;
  text-align: center;
  line-height: 32px;
}

.footer_input {
  width: 100%;
  height: 32px;
  /* margin-top: 5px; */
  border: none;
  outline: none;
  font-size: 24px;
  padding: 0 16px;
}

.footer_btn {
  width: 48px;
  height: 48px;
  background-color: lightgray;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 3px 0;
  transition: all 0.2ms ease-in;
}

.footer_button:hover {
  transform: scale(1.1);
}