/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* reset CSS */
a{ text-decoration: none; color: #222;}
h1,h2,h3,h4,h5,h6{ margin: 0;}
button{ cursor: pointer; outline: none;}
body{
  margin: 0;
  height: 100vh;
}


/* 모바일 환경 */
@media screen and (max-width: 767px){
  
}

/* 테블릿 환경  */
@media (min-width:768px) and(max-width: 1024px){
  
}